<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-behaviors/paper-button-behavior.html">

<dom-module id="ev-icon-button">
  <template strip-whitespace>
    <style>
      :host {
        background: transparent;
        border: none;
        border-radius: 3px;
        box-sizing: border-box !important;
        cursor: pointer;
        display: inline-block;
        height: 48px;
        line-height: 1;
        outline: none;
        padding: 10px;
        position: relative;
        transition: all 0.15s ease-in-out 0s;
        user-select: none;
        width: 48px;

        /* NOTE: Both values are needed, since some phones require the value to be `transparent`. */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;

        @apply --ev-icon-button;
      }

      :host paper-ripple {
        color: var(--ev-icon-button-ink-color);
      }

      :host(:hover), :host(:focus) {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        @apply --ev-icon-button-hover;
      }

      :host(.flat:hover), :host(.flat:focus) {
        box-shadow: none;
      }

      :host([disabled]) {
        cursor: auto;
        opacity: 0.4;
        pointer-events: none;

        @apply --ev-icon-button-disabled;
      }

      :host([hidden]) {
        display: none !important;
      }

      :host(.round) {
        border-radius: 50%;
      }

      /* Need to handle smaller buttons with a bigger tap area. Something like: */
      :host(.small) {
        height: 24px;
        padding: 0px;
        width: 24px;
      }

      :host(.small):after {
        content: '';
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: -10px;
        right: -10px;
      }

      iron-icon {
        --iron-icon-width: 100%;
        --iron-icon-height: 100%;
      }
    </style>

    <iron-icon id="icon" src="[[src]]" icon="[[icon]]" alt$="[[alt]]"></iron-icon>
  </template>

  <script>
/**
`ev-icon-button` is a button with an image placed at the center. When the user touches
the button, a ripple effect emanates from the center of the button.

`ev-icon-button` does not include a default icon set. To use icons from the default
set, include `EValueElements/ev-icons/ev-icons.html`, and use the `icon` attribute to specify which icon
from the icon set to use.

Example:

    <link rel="import" href="path/to/ev-icons/ev-icons.html">

    <ev-icon-button icon="favorite"></ev-icon-button>
    <ev-icon-button src="star.png"></ev-icon-button>

### Styling
Style the button with CSS as you would a normal DOM element.

    <!-- make a red "favorite" button -->
    <ev-icon-button icon="favorite" style="color: red;"></ev-icon-button>

By default, the ripple is the same color as the foreground at 25% opacity. You may
customize the color using the `--ev-button-ink-color` custom property.

The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--ev-icon-button` | Mixin for a button | `{}`
`--ev-icon-button-ink-color` | Selected/focus ripple color |  `Based on the button's color`
`--ev-icon-button-hover` | Mixin applied to the button in the hover state | `{}`
`--ev-icon-button-disabled` | Mixin applied to the disabled button. Note that you can also use the `ev-icon-button[disabled]` selector | `{}`

@customElement
@polymer
@appliesMixin Polymer.PaperButtonBehavior
@demo demo/index.html
*/
    class EvIconButton extends Polymer.mixinBehaviors([Polymer.PaperButtonBehavior], Polymer.Element) {
      static get is() { return 'ev-icon-button'; }
      static get properties() {
        return {
          /**
           * The URL of an image for the icon. If the src property is specified,
           * the icon property should not be.
           */
          src: {
            type: String
          },
          /**
           * Specifies the icon name or index in the set of icons available in
           * the icon's icon set. If the icon property is specified,
           * the src property should not be.
           */
          icon: {
            type: String
          },
          /**
           * Specifies the alternate text for the button, for accessibility.
           */
          alt: {
            type: String,
            observer: "_altChanged"
          }
        };
      }

      _altChanged(newValue, oldValue) {
        const label = this.getAttribute('aria-label');
        // Don't stomp over a user-set aria-label.
        if (!label || oldValue == label) {
          this.setAttribute('aria-label', newValue);
        }
      }
    }

    window.customElements.define(EvIconButton.is, EvIconButton);
  </script>
</dom-module>
